<title>"Uputstvo"</title><h1>Uputstvo</h1>
<div>
  <b>Uputstvo za prijavljivanje na sistem</b><br/>
  U gornje desnom uglu nalazi se opcija za 'Prijavu'. Klikom na tu opciju otvara se forma gdje je potrebno unijetu email i lozinku koju ste dobili od administratora.
</div>
<br/>
<br/>
<div>
  <b>Promjena vlastitih podataka</b><br/>
  Nakon što se prijavite na sistem poželjno je da odmah promijenite svoju lozinku. To možete učiniti tako što ćete u gornje desnom uglu odabrati opciju 'Račun' pa zatim 'Postavke'.
  Otvorit će se forma koja prikazuje vaše podatke gdje možete unijeti novu lozinku i snimiti izmjene.
</div>
<br/>
<br/>
<div>
  <b>Kreiranje nekretnina</b><br/>
  Prijavljeni korisnici imaju mogućnost kreiranja nekretnina. Ukoliko želite kreirati nekretninu potrebno je da odaberete neku od kategorija (stanovi, kuće, sobe, ...) nakon čega će
  biti prikazane već postojeće nekretnine iz odabrane kategoriju. Tu možete vidjeti opciju 'Nova nekretnina' koja vas vodi na formu za kreiranje nove nekretnine gdje je polje 'tip nekretnine'
  već popunjeno odabranim tipom. Nakon što unesete željene podatke potrebno je da snimite izmjene i nekretnina će biti kreirana.
</div>