<div class="center hero-unit">
  <div class="col-md-8 col-sm-6 col-xs-4 coverImage">  
  </div>
  <h3>Nekretnine</h3>
  <hr>
  <% @featured_products.each do |fp| %>
    <% images = fp.pictures %>
    <% if images.empty? %>
      <div class="image_home">
        <image src="/system/images/missing.png" class="image_home_exist"/>
        <div class="re_name_home"><%= link_to "#{fp.realEstateName}", fp %></div>
      </div>
      
      <% else %>
      <div class="image_home">
        <%= image_tag images.first.image.url(:medium), class: "image_home_exist" %>
        <div class="re_name_home"><%= link_to "#{fp.realEstateName}", fp %></div>
      </div>
    <% end %>
  <% end %>
</div>