<p id="notice"><%= notice %></p>

<p>
  <b>Tip nekretnine:</b>
  <%= @real_estate_type.realEstateType %>
</p>

<%= link_to 'Uredi', edit_real_estate_type_path(@real_estate_type) %> |
<%= link_to 'Nazad', real_estate_types_path %>
