<p id="notice"><%= notice %></p>

<p>
  <b>Realestatetype:</b>
  <%= @real_estate_type.realEstateType %>
</p>

<%= link_to 'Edit', edit_real_estate_type_path(@real_estate_type) %> |
<%= link_to 'Back', real_estate_types_path %>
