<h1>All users</h1>

<div style="margin-left: 40px">
    <%= will_paginate @users, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
</div>

<ul class="users">
    <%= render @users %>
</ul>

<div style="margin-left: 40px">
    <%= will_paginate @users, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
</div>

<div style="margin-left: 40px">
    <%= link_to 'New User', new_user_path %>
</div>