<h1>Lista nekretnina</h1>

<div style="margin-left: 40px">
    <%= will_paginate @real_estates, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
</div>

<ul class="users">
    <%= render @real_estates %>
</ul>

<div style="margin-left: 40px">
    <%= will_paginate @real_estates, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
</div>

<% if current_user && current_user.can_create_real_estate? %>
  <div style="margin-left: 40px">
    <%= link_to 'Nova nekretnina', new_real_estate_path %>
  </div>
<% end %>

