<div class="col-md-6 col-md-offset-2">
    <h1>Izvještaji</h1>
    <br/>
    <br/>
    <table style="width: 100%">
      <tr style="border-bottom: 1px solid lightgray;">
        <td style=""><b>Tip izvještaja</b></td>
      </tr>

      <tr style="border-bottom: 1px solid lightgray;">
        <td><%= link_to 'Broj nekretnina po mjesecima', monthly_articles_path %></td>
      </tr>
      <tr style="border-bottom: 1px solid lightgray;">
        <td><%= link_to 'Broj nekretnina po gradu', real_estates_by_city_path %></td>
      </tr>
    </table>
</div>


