<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <table style="width: 100%">
      <tr style="border-bottom: 1px solid lightgray;">
        <td style="padding-top: 10px; padding-bottom: 10px; font-size: 20px; width: 50%">Ukupan broj korisnika: <%= @total %></td>
        <td></td>
      </tr>
      <tr>
        <td><br/></td>
        <td></td>
      </tr>
      <tr style="border-bottom: 1px solid lightgray;">
        <td style="padding-top: 5px; padding-bottom: 5px; width: 50%"><b>Korisničko ime</b></td>
        <td></td>
      </tr>
      <% @users.each do |user| %>
        <tr style="border-bottom: 1px solid lightgray;">
          <td style="padding-top: 5px; padding-bottom: 5px; width: 50%"><%= user.username%></td>
          <td></td>
        </tr>
      <% end %>
    </table>
    <div style="margin-top: 25px"><%= link_to 'Nazad', reports_path %></div>
  </div>
</div>